<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Basic Vue Js - HelloWorld App</title>

    <!-- https://google.github.io/material-design-icons/#icon-font-for-the-web -->
    <!-- Using via Google Web Fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <!-- https://tailwindcss.com/docs/installation -->
    <!-- Using Tailwind via CDN -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />

    <!-- https://v3.vuejs.org/guide/installation.html#release-notes -->
    <!-- Vue CDN -->
    <script src="https://unpkg.com/vue@next"></script>
    <link href="./styles.css" rel="stylesheet">

</head>

<body background="./image/BG02.png">
    <div id="app">
        <div class="flex items-center justify-between bg-black text-white h-10 p-3 pb-5 border-red-600 border-b-2  pt-5">
            <button>
                <span @click="toggle" class="material-icons ml-20" v-if="show.icon">
                    search
                </span>
            </button>
            <div v-if="show.searchbar" class="absolute">
                <input v-model="inputTitle" class="ml-2 p-1 w-80 placeholder-gray-500 placeholder-opacity-50 focus:outline-none text-black rounded-sm" type="text" placeholder="Please enter text for searching photos">
                <button class="ml-2 p-1 rounded-sm focus:outline-none bg-blue-500" v-on:click="toggle">Cancel</button>

            </div>


            <div>
                <p> Number of Photos: <span class="mx-2 text-lg">{{ countpicture }}</span>
                </p>

            </div>

        </div>
        <h1 class="text-xl text-6xl text-white  pt-4 font-medium pl-80 ">Photo Gallery Likes({{countLikes}}) picture({{countpicture}})</h1>
        <div class="flex-row flex" id="image-box" v-if="Box_image">

            <div v-for="(picture, index) in searchZoom" class="ml-96">
                <img :src="picture.src " id="imgshowForzoom">
            </div>
        </div>
        <button> <span @click="closeZoom" class="material-icons ml-20 bg-white close-icon" v-if="Box_image == true">
                close
            </span></button>
        <div class="flex-row flex pb-32 ">

            <ul v-for="(picture,index) in searchPhoto" v-if="searchPhoto.length !==0 ">

                <li class="" v-on:click="toggleDone(index)">
                    <div class="imgshow p-2 bg-black ml-12 cursor-pointer ">
                        <button @click="zoom(index)"> <img class="" v-bind:src="picture.src"></button>
                    </div>

                    <div class="ml-40 text-white mt-14 cursor-pointer ">
                        <p class="inline text-3xl font-mono hover:text-red-600 ">{{picture.text}}</p>
                        <i class="material-icons pl-5" v-show="picture.like" style="color: red;">favorite</i>
                    </div>
                </li>
            </ul>
            <ul v-else>
                <li class="text-xl text-6xl text-white pb-16 pt-4 font-medium pl-96 ml-28 ">Not have any Photo</li>
            </ul>
        </div>


    </div>

    <!-- my main.js -->
    <script src="./main.js"></script>
</body>

</html>