<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Basic Vue Js - HelloWorld App</title>

    <!-- https://google.github.io/material-design-icons/#icon-font-for-the-web -->
    <!-- Using via Google Web Fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <!-- https://tailwindcss.com/docs/installation -->
    <!-- Using Tailwind via CDN -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />

    <!-- https://v3.vuejs.org/guide/installation.html#release-notes -->
    <!-- Vue CDN -->
    <script src="https://unpkg.com/vue@next"></script>
    <link href="./style.css" rel="stylesheet">
</head>

<body>
    <div id="app" class="">
        <div class="mx-auto container">

            <div class="flex items-center justify-between bg-black text-white h-10">
                <button>
                    <span @click="toggle" class="material-icons ml-20" v-if="show.icon">
                        search
                    </span>
                </button>
                <div v-if="show.searchbar" class="absolute">
                    <input v-model="inputTitle" class="ml-2 p-1 w-80 placeholder-gray-500 placeholder-opacity-50 focus:outline-none text-black rounded-sm" type="text" placeholder="Please enter text for searching photos">
                    <button class="ml-2 p-1 rounded-sm focus:outline-none bg-blue-500" v-on:click="toggle">Cancel</button>

                </div>


                <div>
                    <p> Number of Photos: <span class="mx-2 text-lg">{{ countpicture }}</span>
                    </p>

                </div>

            </div>
            <!-- <div class="flex items-center justify-end bg-black mr-2 text-white">
        <p > Number of Photos: <span class="mx-2 text-lg">X</span>
        </p>

      </div> -->
            <div class="flex-row flex" id="image-box" v-if="Box_image">

                <div v-for="(photo, index) in searchZoom" class="ml-96">
                    <img :src="photo.src " id="imgshow">
                </div>
            </div>
            <button> <span @click="closeZoom" class="material-icons ml-20 bg-white close-icon" v-if="Box_image == true">
                    close
                </span></button>
            <div class="-mt-2">

                <ul class="grid grid-cols-2 gap-y-10 ml-10 lg:grid-cols-5 " v-if="searchPhoto.length !==0 ">

                    <li v-for="(photo, index) in searchPhoto ">

                        <p class="text-lg font-semibold ">{{photo.title}}</p>
                        <button @click="zoom(index)"> <img :src="photo.src "
                                class="h-48 w-32 [photo.zoom ? 'p-96 bg-black': ''] " :alt="photo.title "></button>
                        <div class="flex flex-row justify-start space-x-1 ">

                            <p v-if="photo.like> 0"> {{photo.like}}
                                <span>like</span>
                            </p>

                            <button @click="favorite(index)" class=" focus:outline-none ">
                                <!-- "you can use "class = fill-current text-red-500" for changing to red color, original is black -->
                                <svg class="" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24"
                                    width="24">
                                    <path d="M0 0h24v24H0z" fill="none" />
                                    <path
                                        d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
                                </svg>
                            </button>

                        </div>
                    </li>
                </ul>

                <ul v-else>
                    <li>Not have any Photo</li>
                </ul>
            </div>

        </div>

    </div>

    <!-- my main.js -->
    <script src="./main.js"></script>
</body>

</html>